name: Build APK with Buildozer
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Buildozer
        run: |
          sudo apt-get update
          pip install buildozer cython
          sudo apt-get install -y git python3-pip python3-setuptools build-essential \
            python3-dev libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-gfx-dev \
            libsqlite3-dev libgles2-mesa-dev libglu1-mesa-dev libgl1-mesa-dev \
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
            - name: Install Android SDK
          # Ваши команды установки SDK
      - name: Accept Android SDK licenses
        run: |
          yes | sdkmanager --licenses
      - name: Install Build-Tools
        run: |
          sdkmanager "build-tools;36.1.0"
      - name: Build APK
        run: buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-apk
          path: bin/*.apk
